<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>teja</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1005896869288-m7cgusjf80rt6sn0u6ctpf90geujkida</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>1701834726967769</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>facebook-stories</string>
		<string>facebook</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is required to open the application for security</string>
	<key>NSBiometricUsageDescription</key>
	<string>Biometric is required to open the application for security</string>
	<key>NSCameraUsageDescription</key>
	<string>To enhance your journaling experience, this app needs to access your camera so you can record videos directly within your journal entries. This allows you to capture moments in real-time and add a personal touch to your memories.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To make your journal entries more expressive and personal, this app requests access to your photo library. This enables you to select photos and videos from your gallery to include in your journal, helping you preserve and reflect on your experiences.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone to record audio when capturing videos for your journal entries. Audio recording enriches your video memories, allowing you to capture the full atmosphere of moments you wish to remember.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires access to speech recognition to convert your spoken words into text. This feature enhances your journaling experience by allowing you to dictate your entries, making it easier and faster to capture your thoughts and memories as they happen.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>com.posthog.posthog.API_KEY</key>
	<string>phc_mKsbKa4mA0xUc8zt2T5d3MKifEZzfi00lSqsHpS7XmI</string>
	<key>com.posthog.posthog.POSTHOG_HOST</key>
	<string>https://app.posthog.com</string>
	<key>com.posthog.posthog.TRACK_APPLICATION_LIFECYCLE_EVENTS</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Integrating your Apple Health data with $(APP_DISPLAY_NAME) will make it easy for you to track and manage all health goals!</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Integrating your Apple Health data with $(APP_DISPLAY_NAME) will make it easy for you to track and manage all health goals!</string>
</dict>
</plist>
